---
import type { Resource as ResourceType } from "../../types";
import Resource from "./Resource.astro";
import { slide } from 'astro:transitions';

interface Props {
  resources: ResourceType[]
}

const { resources } = Astro.props
---

<section>
  <div class="wrapper">
    <ul
      transition:animate={slide({ duration: '0.3s' })}
      class="grid-responsive"
    >
      {
        resources.map(({ name, link, img, type, usage }) => (
          <li>
            <Resource
              name={name}
              link={link}
              img={img}
              type={type}
              usage={usage}
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>